@font-face {
  font-family: "BrickPixel";
  src: url("/Brick_Pixel.ttf") format("truetype");
}

@font-face {
  font-family: "StoneSlab";
  src: url("/Stone_Slab.ttf") format("truetype");
}
@font-face {
  font-family: "GameTape";
  src: url("/Game_Tape.ttf") format("truetype");
}

.marquee {
  position: absolute;
  height: 40vh;
  top: -5%;
  width: 100%;
  z-index: 0;
  margin-top: 100px;
}

.cloudLeft {
  padding-left: 20px;
}
.cloudRight {
  padding-left: 100px;
}
.marquee1 {
  position: absolute;
  width: 100%;
  z-index: 40;
  margin-top: 130px;
  opacity: 0.4;
}
.marquee2 {
  position: absolute;
  z-index: 9;
  height: 20vh;
  height: fit-content;
  width: 100%;
  left: 0;
  margin-top: 50px;
  opacity: 0.4;
}
.left {
  border: 2px solid #ffffff;
  position: absolute;
  left: 0;
}
.right {
  border: 2px solid #2200ff;
  position: absolute;
  right: 0;
}

.maindiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  user-select: none;
  overflow: hidden;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 8%;
}
.logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15vmin;
  width: 100%;
  top: 10%;
  z-index: 999;
  /* scale: 6.5; */
  text-shadow: 0 0 0px #fe3989, 0 0 10px #fe3989, 0 0 15px #fe3989;
  font-family: "BrickPixel";
  color: #fe3989;
  /* animation: textShadow 2s infinite; */
}

@keyframes textShadow {
  0% {
    text-shadow: 0 0 0px #fe3989, 0 0 0px #fe3989, 0 0 0px #fe3989;
  }
  50% {
    text-shadow: 0 0 0px #fe3989, 0 0 10px #fe3989, 0 0 15px #fe3989;
  }
  100% {
    text-shadow: 0 0 0px #fe3989, 0 0 0px #fe3989, 0 0 0px #fe3989;
  }
}

.model2 {
  width: 100%;
  margin-top: 8%;
  position: absolute;
}
/* .moo{
  opacity: 0;
  transition: all 0.5s ease;
}
.moo.del{
  opacity: 1;
} */

.foot {
  width: 100%;
  height: 25vh;
  background-color: #fe3989;
  position: absolute;
  bottom: 0%;
  z-index: -1;
}
.arrowLeft {
  position: absolute;
  left: 20%;
  top: 80%;
  scale: 5;
  opacity: 0;
  transition: all 1s ease-in-out;
  pointer-events: none;
  z-index: 999;
  /* transition: all 1s ease; */
}
.arrowLeft.visibleleft {
  opacity: 1;
  pointer-events: all;
  /* scale: 5; */
  transition: all 1s ease-in-out;
  pointer-events: all;
  top: 50%;
  /* transition: all 1s ease; */
}

.arrowRight {
  /* transition: opacity 0.5s ease; */
  position: absolute;
  /* scale: 0; */
  opacity: 0;
  right: 17%;
  top: 80%;
  scale: 5;
  z-index: 999;
  transition: all 1s ease-in-out;
  pointer-events: none;
}
.arrowRight.visibleright {
  opacity: 1;
  transition: all 1s ease-in-out;
  pointer-events: all;
  /* scale: 5; */
  top: 50%;
  /* transition: all 1s ease; */
}
.arrowLeft h3 {
  color: #ffebd3;
  font-size: 7px;
}
.arrowLeft p {
  font-size: 3px;
  font-weight: 10;
  color: #ffebd3;
  opacity: 50%;
  padding-top: 2px;
}

.arrowRight h3 {
  color: #ffebd3;
  font-size: 10px;
}
.arrowRight p {
  font-size: 3px;
  font-weight: 10;
  color: #ffebd3;
  opacity: 50%;
}
.dash {
  scale: 2;
}
.arrowLeft h3,
.arrowLeft p {
  font-family: "StoneSlab";
}
.btnMerch {
  position: absolute;
  font-size: 10dvh;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50%;
  transform: translate(10%, -50%);
  z-index: 1110;
  animation: textShadow 2s infinite;
  cursor: pointer;
}
.merch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
}

.merch3d {
  opacity: 50%;
  padding: 0px 20px;
}
.activeBtn {
  opacity: 100%;
}
.merch3 {
  opacity: 50%;
}
.leftBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 5%;
  height: 25%;
  bottom: 0%;
  z-index: 99999999;
}

.leftTshirt {
  padding-left: 20px;
}
.rightBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 5%;
  height: 25%;
  bottom: 0%;
  z-index: 99999999;
}

.rightTshirt {
  padding-right: 20px;
}
/* .mobile-merch {
  display: none;
}
.mobile-bottom {
  display: none;
}
.mobile-btn {
  display: none;
} */
.merchBtn {
  position: absolute;
  bottom: 5%;
  display: flex;
}
.mobileMerch {
  display: none;
}
.mobileBottom {
  display: none;
}
.mobileBtn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .marquee1 {
    position: absolute;
    width: 100%;
    z-index: 40;
    margin-top: 80px;
  }
  .marquee2 {
    position: absolute;
    z-index: 9;
    height: 20vh;
    height: fit-content;
    width: 100%;
    left: 0;
    margin-top: 35px;
  }
  .box {
    scale: 1;
    height: 60%;
    position: absolute;
    justify-self: center;
    align-items: center;
    left: 50%;
    z-index: 99999;
    top: 19%;
    /* transform: translateY(50%); */
    transform: translateX(-50%);
  }
  /* .logo {
    scale: 3.4;
    position: absolute;
    top: 20%;
    /* padding-top: 100px; 
  } */
  .arrowLeft {
    scale: 4;
  }
  .arrowRight {
    scale: 4;
    padding-left: 10px;
  }
  .marquee {
    position: absolute;
    height: 20vh;
    top: -3%;
    width: 100%;
    z-index: 4;
    margin-top: 100px;
  }
  .leftTshirt,
  .rightTshirt {
    display: none;
  }
  .mobilemerch {
    position: absolute;
    top: 0%;
  }
  /* .btnMerch {
    scale: 3.5;
    padding-left: 10px;
  } */

  .merchBtn {
    /* display: none; */
    /* position: absolute; */
    scale: 0.8;
    bottom: 7%;
  }
}
.bot {
  cursor: pointer;
  transition: all ease 0.3s;
}
.bot:hover {
  /* border: 2px solid #fe3989; */
  opacity: 90%;
  filter: drop-shadow(0 10 10px #91023b);
  /* color: #ffebd3; */
}

@media screen and (max-width: 700px) {
  .arrowLeft {
    display: none;
  }
  .arrowRight {
    display: none;
  }
  /* .logo {
    scale: 3;
  } */
  /* .btnMerch {
    display: none;
  } */
  .merchBtn {
    display: none;
  }
  .leftBtns {
    bottom: 2%;
  }
  .rightBtns {
    bottom: 2%;
  }
  .foot {
    width: 100%;
    height: 25vh;
    background-color: #000014;
    position: absolute;
    bottom: 0%;
    z-index: -1;
  }
  .mobileMerch {
    display: block;
    scale: 5.5;
    position: absolute;
    text-align: center;
    top: 40%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .mobileMerch.visibleleft {
    opacity: 1;
    /* top: 20%; */
    /* transition: all 1s ease; */
  }
  .model2 {
    pointer-events: none;
  }
  .mobileMerch h3 {
    color: #ffebd3;
    font-size: 7px;
  }
  .mobileMerch p {
    font-size: 2px;
    font-weight: 10;
    color: #ffebd3;
    opacity: 50%;
    padding-top: 2px;
  }

  .box {
    height: 50%;
    top: 43%;
    overflow: hidden;
  }
  .mobileBottom {
    display: block;
    position: absolute;
    bottom: 9%;
    text-align: center;
    scale: 5;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .mobileBottom.visibleright {
    opacity: 1;
  }
  .mobileBottom h3 {
    color: #ffebd3;
    font-size: 5px;
  }
  .dash {
    position: absolute;
    bottom: 10%;
  }
  .mobileBottom p {
    font-size: 3px;
    font-weight: 10;
    color: #ffebd3;
    opacity: 50%;
  }
  .mobileBtn {
    display: block;
    scale: 4;
    position: absolute;
    right: 50%;
    bottom: 5%;
    transform: translate(50%, 0);
    font-size: 5vmax;
  }
}

@media screen and (max-width: 540px) {
  /* .logo {
    top: 20%;
    transform: translateY(10%);
    scale: 2.4;
  } */
  .cloud {
    scale: 0.6;
    /* Add any common styles for cloud here */
  }

  .marquee {
    position: absolute;
    height: 40vw;
    top: -3%;
    transform: translateY(10%);
    width: 100%;
    z-index: 0;
    margin-top: 100px;
  }

  .cloudLeft {
    padding-left: 0px;
  }
  .cloudRight {
    padding-left: -6px;
  }
  .marquee1 {
    position: absolute;
    width: 100%;
    z-index: 40;
    margin-top: 20px;
  }
  .marquee2 {
    position: absolute;
    z-index: 9;
    height: 20vw;
    height: fit-content;
    width: 100%;
    left: 0;
    margin-top: 0px;
  }
  .box {
    z-index: 2;
  }
}

@media screen and (max-width: 540px) {
  /* .logo {
    scale: 1.8;
  } */
}
